<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
  <div class="container01">
    <div class="container">
      <img src="/images/chicken.png" class="logo" alt="">
      <form action="/sing_in" method="POST">
    </div>
    <div class="container">
            <div>
              <label for="full_name">Full Name</label>
              <input type="text" name="full_name">
            </div>
            <input type="submit" href="/sign_in" value="Sign in" class="registerbtn">
      </form>
    </div>
  </div>

  <% //////////////////////////// %> 

<%- include('../partials/footer') %>